.cs7e8cd2056d{font-size:26pt;margin-bottom:15pt;color:#17365D}
.cs383cd6c0b8{font-style:italic;font-size:12pt;margin-bottom:10pt;color:#4F81BD}
.csb4fde411ae{font-weight:700;font-size:14pt;margin-top:24pt;margin-bottom:0pt;color:#365F91}
.csae80a22e83{font-weight:700;font-size:13pt;margin-top:10pt;margin-bottom:0pt;color:#4F81BD}
.csfae2665864{font-weight:700;font-size:11pt;margin-top:10pt;margin-bottom:0pt;color:#4F81BD}