.csb4fde411ae{font-weight:700;font-size:14pt;margin-top:24pt;margin-bottom:0pt;color:#365F91}
.cs8c4b9dde3a{font-size:11pt;margin-bottom:10pt}
.cs3c125f97f4{font-size:11pt;margin-bottom:10pt}
.csa11b1e1d82{font-size:11pt;margin-bottom:10pt}
.cscd9c143681{font-size:11pt;margin-bottom:10pt}